[submodule "include/ate-pairing"]
	path = include/ate-pairing
	url = https://github.com/herumi/ate-pairing.git
[submodule "include/xbyak"]
	path = include/xbyak
	url = https://github.com/herumi/xbyak.git
